.imagencomic{
    
    width: 588px;
    height: 473px;
    margin-left: 50px;
}

@media (max-width: 576px) { 
    .imagencomic{
        width: 588px;
        height: 473px;
        margin-left: 50px;
        overflow: hidden;
    
    }

    
    

 }